
.avatar, .distorted{
	width: 200px;
	height: 400px;
} 

.avatar, .proportional{
	width: 200px;
	height: 240px;
}


.p , .container{
	color: red;
	background-color: yellow;
	font-size: 20px;
	text-align: center ;
}