

.one {
  background: pink;
  border: 3px solid blue;
  border-style: solid;
  padding: 32px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  margin: 12px;

}

.three {
  background: peachpuff;
  border: 3px solid brown;
  padding: 32px;
  margin-block: 48px;
  width: 90px;
  margin-left: 1000px;
  
}