.navigator{
	display: flex;
	justify-content: space-between;
	background-color: #bc4749;
	
}

.navigators{
	display:flex;
	gap: 20px; 
	align-items: center;
	list-style-type: none;
	padding:20px;
}



.header{
	display:flex;
	flex-direction: column;
	list-style-type: none;
	justify-content: space-around;
	font-size: 50px;
	font-family: Courier;
}

.logo{
	display: flex;
	list-style-type: none;
	align-items: center;
	border-style: solid;
	margin-right: 20px;
	border-width: 5px;
	border-color: #780000;
	border-radius: 30%;
}

#picture{
	border-radius: 30%;
}

.home_page{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.group_photo{
	border: 10px solid #88A2AA;
	margin: 0;
	padding: 0;
    display:block; 
    margin-top: 20px;

}




ul{
	padding: 0;
}



a{
  text-decoration: none;
  color: #dee2e6;
}