body{
	background-color: #dbd6cc;
}



.navbar{
	height: 100px;
	font-family: Arvo;
	display:flex;
	justify-content: space-between;
	background-color: #896A67;
	color: white;
	border-radius: 20px;
	align-items: center;
}



.logo{
	display: flex;
	gap: 20px;
	padding: 20px;
	list-style-type: none;
}



.links{
	display: flex;
	gap: 20px;
	padding: 20px;
	list-style-type: none;
	color: white;
	font-size: 20px;
}


a{
	text-decoration: none;
	color: white;
}


.biosnimgs{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 900px;
	margin: 0 auto 40px auto;
}


.imgs{
	display: flex;
	padding: 18px;
	flex: 2;
	border-radius: 20px;



}

.bios{
	display: flex;
	background-color: #a6816e;
	margin: 18px;
	padding: 30px;
	color: white;
	font-family: "Times New Roman";
	font-size: 17px;
	border-radius: 10px;
	flex: 5;

}

.display{
	border-radius: 30px;
	width: 200px;
}

.logoimg{
	height: 80px;
	background-color: #896A67;
	margin-left: 20px;
}

.headers{
	display: flex;
	background-color: #a6816e;
	padding: 20px;
	color: white;
	font-family: "Times New Roman";
	font-size: 40px;
	border-radius: 30px;
	justify-content: center;
	width: fit-content;
	margin-bottom: 50px;
}


/* TESTIMONIALS/REVIEWS */

#testimonials {
    padding: 10px 20px;
    background-color: #dbd6cc;
    text-align: center;
}

#testimonial-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: #cfb4a8;
    padding: 20px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.testimonial-card h4 {
    margin-top: 15px;
    font-style: normal;
    color: #555;
}


/* CONTACT US*/



.contact-card {
  background: #fff;
  padding: 0px 30px 30px 30px;
  border-radius: 10px;
  border: 2px lightgray solid;
}

#contact-title {
  font-size: 40px;
}

#contact-description {
  max-width: 400px;
  color: #a0a0a0;
  margin-top: 15px;
  margin-bottom: 25px;
}

#contact-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-left: 40px;
}

.contact-label {
  color: #a0a0a0;
  width: 100%;
  margin-top: 10px;
}

.contact-input,
.contact-textarea {
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  background: #eee;
  color: #969696;
}

.contact-button {
  border: none;
  width: 100%;
  padding: 12px;
  background-color: #a6816e;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
}

.contact-button:hover {
  background-color: #896A67;
